
<html>
    <head>
        <title>우아한디바이스!</title>
    </head>
        <body>
            <ul>
            <li><a href="#" class="on">전체</li>
                <select name="전체">
                    <option value="all">전체</option>
                    <option value="QA">품질개선팀</option>
                </select>
            <li><a href="#">MY내역</li>
            <li><a href="#">이용방법</li>
            <li>검색</li>
            </ul>
        </body>
</html>

