<div>
    <h2>디바이스 목록</h2>
</div>
<table>
  <colgroup>
    <col width="10%"/>
    <col width="10%"/>
    <col width=""/>
    <col width="10%"/>
  </colgroup>
  <thead>
  <tr>
      <th>디바이스명</th>
      <th>모델번호</th>
      <th>대여자</th>
      <th>대여현황</th>
      <th>팀담당자</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
